body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

.title{
    font-weight: bolder;
}

#bienvenidaContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:#DDDDDD;
    width: 100%;
    height: max-content;
    padding: 20px;
}

#navbarPers{
    background-color: #13322B;
}

#ofertaEducativaContainer{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

#ofertaEducativaTitle{
    align-self: center;
    justify-self: center;
    color:#13322B;
    font-weight: bolder;
    font-size:large
}
.circleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
}

.circle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color:#13322B;
    margin: 0 40px;
}